<button (click)="retour()">Retour</button>
<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Fonction</th>
      <th>Ville</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor=" let employe of employes.employees">
      <td>{{ employe.id }}</td>
      <td>{{ employe.nom }}</td>
      <td>{{ employe.age }}</td>
      <td>{{ employe.fonction }}</td>
      <td>{{ employe.ville }}</td>
    </tr>
    </tbody>
  </table>
</div>
