<button (click)="retour()">Retour</button>
<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Profession</th>
      <th>Ville</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor=" let client of clients.clients ">
      <td>{{ client.id }}</td>
      <td>{{ client.nom }}</td>
      <td>{{ client.age }}</td>
      <td>{{ client.profession }}</td>
      <td>{{ client.ville }}</td>
    </tr>
    </tbody>
  </table>
</div>
