<button (click)="retour()">Retour</button>
<div class="content">
  <div class="b1"><button mat-button (click)="employes()" >Afficher les employés de la banque</button></div>
  <div class="b2"><button mat-button (click)="clients()" >Afficher les clients de la banque</button></div>
</div>
