.content{
  padding-top:40px;
  width:300px;
  margin:auto;
  text-align:center;
  vertical-align:middle;
}

.b1{
  margin-bottom: 50px;
}

.b2{
  margin-bottom: 60px;
}

.b3{
  margin-bottom: 70px;
}
