<div class="head">
<h1>BIENVENUE DANS L'ERP DE PREUDHOMME BANQUE</h1>
<h4>Cet ERP vous permet de gérer toutes les activités metiers de la banque </h4>
</div>
<mat-divider></mat-divider>
<router-outlet></router-outlet>




