<div class="content">
  <div class="b1"><button mat-button >GESTION DES ACHATS</button></div>
  <div class="b2"><button mat-button (click)="goToRh()" >GESTION DES RESSOURCES HUMAINES</button></div>
  <div class="b3"><button mat-button >GESTION FINANCIERES</button></div>
</div>
